@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */

.display-flex {
    display: flex;
    align-items: center;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0px auto;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 21px 25px;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    font-size: 1.25rem;
    margin-top: 32px;
}

main {
    max-width: 1440px;
    margin: 0px auto;
}

main>section {
    margin-top: 130px;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

a {
    text-decoration: none;
}

/* Header Style */

/* Navbar Style */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.brand {
    font-weight: bold;
    font-size: 2.8rem;
}

.links {
    font-weight: 500;
}

/* Banner Styles */

.banner-content {
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.section-title {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 24px;
}

.section-description {
    color: #727272;
    line-height: 26px;
}

.banner-img {
    width: 100%;
}

/* Team and Feauture Styles */

.team {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.our-features h3 {
    font-size: 2.8rem;
}

#quick-list {
    color: #727272;
    font-weight: 400;
}

#features {
    color: #FF900E;
}



/* factrelatedstyles */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 10px;
}

.fact-name {
    font-family: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 10px;
}

.fact-discription {
    max-width: 542PX;

}

/* sponsor related styles */
.sopnsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-company img {
    filter: grayscale(100%);
}

/* FeatureSecctionRelated */

.feature-discription {
    width: 586px;
}

#fea-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin: 0px;
}

.features {
    display: flex;
    gap: 140px;
}

.feature-card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 8px;
}

#experience-badge {
    padding: 45px 42px;
    border: none;
    color: white;
    background-color: #FF900E;
    border-radius: 10px;
    margin-left: -100px;
    margin-top: -100px;
}

#exp-year {
    font-size: 4rem;
    font-weight: 700
}

.fee-arch img {
    width: 100%;
}

#exp-txt {
    font-size: 1.5rem;
    font-weight: 500;
}

.feature-title {
    margin: 0px;
    font-size: 1.2rem;
}

.feature-description {
    max-width: 514px;
}

/* Responsive Media Quory */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams,
    .features,
    .features {
        flex-direction: column;
        gap: 10px;
    }

    .features img{
        width: 100%;
    }

    .team-img-container,
    .facts-container,
    .sponsor-company {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .our-features {
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
    }

    .some-facts {
        padding: 20px;
    }

    .sponsor-company {
        gap: 50px;
    }

    #experience-badge {
        margin: 20px;
    }



}

@media screen and (min-width: 576px) and (maxx-width: 772px) {

    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 20px auto;
    }

    .sponsor-company,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }



}