@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */

.display-flex {
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 21px 25px;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    font-size: 1.25rem;
    margin-top: 32px;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

a {
    text-decoration: none;
}

/* Header Style */

/* Navbar Style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}

.links {
    font-weight: 500;
}

/* Banner Styles */

.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content .banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.banner-description{
    color: #727272;
    line-height: 26px;
}

.banner-img{
    width: 100%;
}

/* Responsive Media Quory */

@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
        /* gap: 10px; */
    }
}